/* Scroll Bar */

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

.profilePicture {
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  scale: 1;
  width: 150px;
}

::-webkit-scrollbar-track {
  background-color: #ec8383;
  /* or any color you prefer */
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  /* or any color you prefer */
  border-radius: 6px;
}

/* Navbar */
* {
  font-family: Raleway, sans-serif;
}

body {
  background-color: #f6f1e9;
  overflow-x: hidden;
}

.navbar {
  margin-left: -8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 10;
  background-color: #ff0000;
  color: #f6f1e9;
  width: 100%;
  height: 50px;
}

.navbarLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 5%;
  height: 50px;
}

.navbarLinksMenu {
  display: flex;
}

.navbarLinkContact,
.navbarLinkProfile {
  display: none !important;
}

.navbarLinksNavigate {
  /* display: flex; */
  align-items: center;
}

.navbarWiggles h1 {
  font-family: 'Shantell Sans', cursive;
  cursor: default;
}

#explore {
  font-size: 19px;
}

.navbarLinks a {
  all: unset;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbarLinkMenu {
  display: flex;
}


.logo {
  margin: 0 9px !important;
  height: 40px !important;
  padding: 0px !important;
}

.logo img {
  width: 40px;
  border-radius: 50%;
}

.logo h4 {
  padding: 10px;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.notificationIcon {
  margin-top: 4px;
}

/* For a div containing noti icon and doginfo */
.navbarSecondaryInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5%;
}

.navbarNotificationSection {
  position: relative;
  right: -80px;
}

.navbarDogInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: #f6f1e9;
  height: 45px;
}

.navbarDogInfo .navProfilePictureContainer {

  position: relative;
  right: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  background-color: #fff;
  scale: 0.25;
}

.navProfilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  background-color: #fff;
}

.reactIcon {
  display: none;
}

.navProfileDogIcon {
  scale: 7;
  color: #3C2A21;
  opacity: 0.7;
}

@media(max-width:970px) {
  .logo {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  
  .navbarLinksMenu {
    display: flex;
    flex-direction: column;
    background-color: #ff0000;
    position: absolute;
    top: 50px;
    left: -300px;
    height: 70vh;
    width: 200px;
    padding: 0 2.5%;
    padding-bottom: calc(30vh - 50px);
    justify-content: space-evenly;
    transition: 0.6s all ease-in-out;
  }
  .navbarLinkProfile, .navbarLinkContact {
    display: flex !important;
  }
  
  .navbarLinksMenu a {
    font-size: 25px;
  }

  .navbarLinksMenuShow {
    left: 0;
  }

  .navbarDogInfo h2 {
    font-weight: 500;
  }

  .Hamburger {
    display: block;
    z-index: 2;
    margin-left: 5%;
    cursor: pointer;
  }

  .bar {
    display: block;
    height: 2.5px;
    width: 25px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f6f1e9;
    transition: 0.4s;
  }

  .barOne {
    rotate: -45deg;
    position: relative;
    top: 7px;
    transition: 0.4s;
  }

  .barTwo {
    display: none;
  }

  .barThree {
    position: relative;
    rotate: 45deg;
    transition: 0.4s;
  }

  .reactIcon {
    font-size: 25px;
    display: block;
  }

  #explore {
    font-size: 25px;
  }


}



@media(max-width:600px) {
  .bar {
    width: 20px;
  }

  .logo {
    display: none !important;
  }

  .navbarWiggles h1 {
    font-size: 25px;
  }

  .navbarDogInfo h2 {
    display: none;
  }
}